@font-face {
    font-family: 'MPlus';
    src: url('../fonts/MPLUS1-VariableFont_wght.ttf');
}

body{
    background: linear-gradient(180deg, #3796ED 0%, #FFFFFF 100%);
}

.title{
    font-family: 'MPlus';
}